body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: beige;
  // background-position:50% 50%;
  // background-repeat: no-repeat;
  // background-size: cover; 
}

a {
  color: #00B7FF;
}

[class$="-message"] {
  border: 3px solid;
  border-radius: 3px;
  padding: 10px; }

.success-message {
  color: chartreuse; }

.error-message {
  color: crimson; }

  
  header{
    background-color: #e4dede;
    height: 50px;
    /* display: flex; */
    /* align-items: center; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* text-align: center; */
    display: inline;
  }

  nav{
    padding: 1% 2%;
  }

  nav a{
    font-size: 16px;
    color: gray;
    text-decoration: none;
    padding-right: 2%;
  }

  footer{
    background-color: #e4dede;
    font-size: 14px;
    height: 50px;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  footer p{
    padding: 2%;
  }

.stone-img{
  width: 200px;
  height: 200px;
  border: 5px solid rgb(70, 70, 70);
}

.stone-container{
  display: flex;
  flex-wrap:wrap;
  margin: 0 2.8%;
}

.stone-name{
  text-align: center;
}

li{
  list-style-type: none;  
}

.stone-list-title {
  text-align: center;
  font-size: 60px;
  background-image: url(../images/fond2-eau.jpg);
  margin: 0;
  padding: 5%;
  color: white;
  background-position: center;
  background-size: cover;
  margin: 2% 5%;
}

.description-container{
  border: 2px solid rgb(218, 198, 230);
  width:700px;
  height: 300px;
  margin: 120px auto;
  display: flex;
  align-content: space-between;
  background-color: rgba(250, 250, 250, 0.5);

}

.stone-description-title{
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding: 5%;
  color: grey;
  background-position: center;
  background-size: cover;
  
}

.stone-description-img{
  width: 300px;
  height: 300px;
  position: absolute;

}

.description-img-container{

  position: relative;
}

.description-info-container{
  
  width: 332px;
  height: 280px;
  position: relative;
  top: 25%;
  margin-top: -50px;
  padding: 10px 3px;
  margin-left: 48%;
  font-size: 16px;
  color: gray;
  
}