

{{>flash_messages}}

{{#if currentUser}}
<div class= "content"> 

    <div class="sayHi">
        <h2>Hello, {{currentUser.fullName}} !</h2>
    </div>
</div>

    <div id="searchbar">  
        <h3 class ="searchbar-title">🔎 What are you looking for ?</h3>
        <h2>Discover how to heal yourself with stones</h2>
        <form action="/search" class="formulaire" method="POST">
        <input class="champ" type="text" name="field" placeholder="Amethyst..."/>
        <br/>
        <br/>

        <button class="searchbar-bouton" type="submit">Search</button>             
        </form>
    </div>
    <br/>

{{#if errorMessage}}
<p> {{errorMessage}} </p>
{{/if}}
    


{{else}}
<div class = "logoff-container">
    <div class ="homepagelogoff">
        <br>
        <br>
        <br>
        <br>
        <h1 class="logoff-title"> Stone power </h1>
        <br>
        <button class ="buttonsHP"><a href="/signup"> Create your account !</a></button>
        <button><a href="/google/login"> Sign up with Google</a></button>
    {{/if}}
    <br/>
    </div>
    
</div>

