{{>flash_messages}}

{{#if currentUser}}
<div class= "content">
<div class="sayHi">
<h2>Hello, {{currentUser.fullName}} ! </h2>
</div>

<div id="searchbar">  
    <h3> 🔎 What are you looking for ? </h3>
    <h2> (Type a specifid </h2>
    <form action="/search" class="formulaire" method="POST">
    <input class="champ" type="text" name="field" placeholder="Amethyst..."/>
    <br/>
    <button class="bouton" type="submit">Search</button>             
    </form>
<br/>

{{#if errorMessage}}
<p> {{errorMessage}} </p>
{{/if}}
    

{{else}}
<div class ="homepagelogoff">
<h1> Welcome to our website! </h1>
<h2> Discover how to heal yourself with stones</h2>
<button class ="buttonsHP"><a href="/signup"> Create your account !</a></button>
<button><a href="/google/login"> Sign up with Google</a></button>
{{/if}}
<br>
</div>
</div>
</div>
</div>

