<div class = "description-container">

<div class="description-img-container">
    <img class = "stone-description-img"src="{{oneStone.image}}" alt=""/>
</div>

<div class="description-info-container">
    <h1 class= "stone-description-title">{{oneStone.name}}</h1>
    <p>{{oneStone.power}}</p>
    <p>{{oneStone.forWho}}</p>
</div>

</div>
