<h2>Sign up</h2>
<form action="/process-signup" method="POST">

  <label>
    Name :
    <input type="name" name="fullName" placeholder = "Enter your name here"/>
  </label>
  <br>

  <label>
    Email :
    <input type="email" name="email" placeholder = "Enter your email here"/>
  </label>
  <br>

  <label>
    Password :
    <input type="password" name="originalPassword" placeholder = "Choose your password here"/>
  </label>
  <br>

  <label>
    Zodiac Sign
    <input type="zodiac-sign" name="zodiac" placeholder = "What's your Zodiac Sign ?"/>
  </label>
  <br>

  <label>
    Location
    <input type="location" name="location" placeholder = "Enter your location"/>
  </label>
  <br>

  <button>Sign up</button>
</form>

{{!-- <a href="/slack/login"> Sign up with Slack</a>
<br/>
<a href="/google/login"> Sign up with Google</a>
<br/> --}}