{{>flash_messages}}

{{#if currentUser}}
<div class= "content">
<div class="sayHi">
<h2>Hello, {{currentUser.fullName}} ! </h2>
</div>

<div id="searchbar">  
    <h3>Search for a stone</h3>
    <form action="/search" class="formulaire" method="POST">
    <input class="champ" type="text" name="field" placeholder="Amethyst..."/>
    <br/>
    <button class="bouton" type="submit">Search</button>             
    </form>
<br/>

{{#if errorMessage}}
<p> {{errorMessage}} </p>
{{/if}}
    


{{else}}
<div class ="homepagelogoff">
<p> Welcome to our website ! </p>
<button class ="buttonsHP"><a href="/signup"> Create your account !</a></button>
<button><a href="/google/login"> Sign up with Google</a></button>
{{/if}}
<br>
</div>
</div>
</div>
</div>

