{{>flash_messages}}

{{#if currentUser}}
<div class= "content">
<div class="sayHi">
<h2>Hello, {{currentUser.fullName}} ! </h2>
</div>

<div id="searchbar">  
    <h3>Search for a stone</h3>
    <form action="/search" class="formulaire" method="POST">
    <input class="champ" type="text" name="field" placeholder="Amethyst..."/>
    <br/>
    <button class="bouton" type="submit">Search</button>             
    </form>
<br/>

{{#if errorMessage}}
<p> {{errorMessage}} </p>
{{/if}}
    


{{else}}
<div class ="homepagelogoff">
<p> Welcome to our website, create your account !</p>
<a href="/signup">Sign Up Here</a>
{{/if}}
<br>
<button class="bouton"> SEE THE FULL LIST </button>
</div>
</div>

</div>