{{>flash_messages}}

{{#if currentUser}}
<div class= "content">
<div class="sayHi">
<h2>Hello, {{currentUser.fullName}}! </h2>
</div>
{{!-- 
<div id="searchbar">  
    <h3> 🔎 What are you looking for? </h3>
    <h2> (Type a specific stone, a property you need or your zodiac sign for matching! </h2>
    <form action="/search" class="formulaire" method="POST">
    <input class="champ" type="text" name="field" placeholder="Amethyst..."/>
<div class= "content">  --}}

    <div class="sayHi">
        <h2>Hello, {{currentUser.fullName}} !</h2>
    </div>
</div>

    <div id="searchbar">  
        <h3>🔎 What are you looking for?</h3>
        <h2> (Type a specific stone, a property you need or your zodiac sign for matching! </h2>
        <form action="/search" class="formulaire" method="POST">
            <input class="champ" type="text" name="field" placeholder="Amethyst..."/>
    <br/>
            <button class="bouton" type="submit">Search</button>             
        </form>
    </div>
    <br/>

{{#if errorMessage}}
<p> {{errorMessage}} </p>
{{/if}}
    

{{else}}
<div class ="homepagelogoff">
<h1> Welcome to our website! </h1>
<h2> Discover how to heal yourself with stones</h2>
<button class ="buttonsHP"><a href="/signup"> Create your account !</a></button>
<button><a href="/google/login"> Sign up with Google</a></button>
{{/if}}
<br>
</div>
</div>
</div>
<div class = "logoff-container">
    <div class ="homepagelogoff">
        <br>
        <br>
        <br>
        <br>
        <h1 class="logoff-title"> Stone power </h1>
        <br>
        <button class ="buttonsHP"><a href="/signup"> Create your account !</a></button>
        <button><a href="/google/login"> Sign up with Google</a></button>
    {{/if}}
    <br/>
    </div>
    <div id="searchbar">  
        <h3 class ="searchbar-title">Search for a stone</h3>
        <form action="/search" class="formulaire" method="POST">
        <input class="champ" type="text" name="field" placeholder="Amethyst..."/>
        <br/>
        <br/>

        <button class="searchbar-bouton" type="submit">Search</button>             
        </form>
    </div>
</div>

