<h2>My profile</h2>

<ul>
  {{#each stoneArray}}
  <li>
    <h3>{{this.stoneName}}</h3>
    <img src="{{this.image}}"/>
  </li>
  {{else}}
  <p> You don't have any stone yet</p>
  <a href="/room/add">Add a stone</a>
  {{/each}}
</ul>