<h1>Stone description</h1>



<ul>
    {{#each stonesArray }}
    <li>
    <h2>{{this.name}}</h2>
    <img src="{{this.image}}" alt="">
    </li>
    <li>{{this.power}}</li>
    <li>{{this.forWho}}</li>
    {{/each}}
</ul>
