<h1 class="stone-list-title">Our stones</h1>

<ul class= "stone-container">
    {{#each stonesArray }}
    <li>
    <h2 class="stone-name">{{this.name}}</h2>
    <a href="stone-description/{{this._id}}"> 
        <img class="stone-img" src="{{this.image}}" alt=""/>
    </a>
    <form action="/stone-list" method="GET">
    <button>Add this stone</button>
    </form>
    </li>
    {{/each}}
</ul>
